<h2> Create new Game </h2>

<% @users %>
<% @users.each do |user| %>
<%= user.email %>
<% end %>



User session id: <%= @user_id %>
<%= form_for @game do |f| %>



	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.hidden_field :user_id, :value => @user_id %>

	<%= f.submit %>

<% end %>

