<h2> Create new Game </h2>

Welcome, your user ID for making this game is <%= @user_id %>
	<%= form_tag(:action => "make_new_game") do %>
	<table>
		<tr>
			<td><%= label_tag(:name) %></td>
			<td><%= text_field_tag(:name) %></td>
		</tr>
		<tr>

		<h4>Include the following Users</h4>
		<% @users.each do |user| %>
			<input type="checkbox" name="players[]" value="<%= user.id %>" /><%= user.name %></input>
	
		<% end %>


	<%= hidden_field_tag :user_id, @user_id %>

		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Create Game!") %></td>
		</tr>
	</table>
	<% end %>



