
<div class="col-xs-6">
			<% player_guesses = Guess.where(user_id: @user_id) %>

	<% if(player_guesses.count > 0) %>
	<% end %>


<%= link_to "NEXT", controller: "games", action: "show", id: @game.id %> 


	<ul id="outcomes">

	<% player_guesses.each do |guess| %>
		
		<% if guess.game_id == @game.id %>

			<% if guess.outcome == true %>
				

				<li class="outcome-result">


					<div class="alert alert-success ">
	  				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

	  	
						<% if (Rating.find(guess.rating_id).opinion.to_i) == 1 %>
							<%= User.find(Rating.find(guess.rating_id).user_id).name %> liked

						<% elsif (Rating.find(guess.rating_id).opinion.to_i) == 2 %>
							<%= User.find(Rating.find(guess.rating_id).user_id).name %> disliked

						<% end %>

						<%= Concept.find(Rating.find(guess.rating_id).concept_id).title %>.

						<% if Rating.find(guess.rating_id).explanation %>


				<!-- startcomment area -->

							They said <strong>"<%= Rating.find(guess.rating_id).explanation %>."</strong>
						You were correct.

<% Rating.find(guess.rating_id).chats.each do |chat| %>
							<% if chat.game_id == @game.id %>
								<div class="well"><p><strong><%= User.find(chat.user_id).name %></strong></p>
								<p> &nbsp;&nbsp;&nbsp;&nbsp;<%= chat.text %></p>
								</div>
							<% end %>
							<% end %>


							<% @rating_for_comment = Rating.find(guess.rating_id).id %>

							<%= form_tag(:action => "make_chat") do %>
							<%= hidden_field_tag :user_id, @user_id %>
							<%= hidden_field_tag :rating_id, @rating_for_comment %>
							<%= hidden_field_tag :game_id, @game.id %>
		         			 <%= text_field_tag :text %>
							<%= submit_tag("Comment!") %>

							<h3><%= link_to "NEXT", controller: "games", action: "show", id: @game.id %> </h3>

							<% end %>

				

			<!-- end comment -->

						<% end %>




					
					



					</div>
			 
			 	
			

			<% else %>

				<li class="outcome-result">
					<div class="alert alert-danger ">
	  				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<% if (Rating.find(guess.rating_id).opinion.to_i) == 1 %>
							<%= User.find(Rating.find(guess.rating_id).user_id).name %> liked

						<% elsif (Rating.find(guess.rating_id).opinion.to_i) == 2 %>
							<%= User.find(Rating.find(guess.rating_id).user_id).name %> disliked

						<% end %>

						<%= Concept.find(Rating.find(guess.rating_id).concept_id).title %>.

						<% if Rating.find(guess.rating_id).explanation %>

				<!-- startcomment area -->

							They said <strong>"<%= Rating.find(guess.rating_id).explanation %>."</strong>
						You were wrong.

							<% Rating.find(guess.rating_id).chats.each do |chat| %>
							<% if chat.game_id == @game.id %>
								<div class="well"><p><strong><%= User.find(chat.user_id).name %></strong></p>
								<p> &nbsp;&nbsp;&nbsp;&nbsp;<%= chat.text %></p>
								</div>
							<% end %>
							<% end %>


							<% @rating_for_comment = Rating.find(guess.rating_id).id %>

							<%= form_tag(:action => "make_chat") do %>
							<%= hidden_field_tag :user_id, @user_id %>
							<%= hidden_field_tag :rating_id, @rating_for_comment %>
							<%= hidden_field_tag :game_id, @game.id %>
		         			 <%= text_field_tag :text %>
							<%= submit_tag("Comment!") %>
							<h3><%= link_to "NEXT", controller: "games", action: "show", id: @game.id %> </h3>

							<% end %>


			<!-- end comment -->

						<% end %>
			
			 		
			 		</div>			

			<% end %>


		<% end %>	
		</li>



		<!-- /outcome-result-->

		<br><br>
	<% end %>


	</ul>

</div>

