<h1> GAME </h1>

<h1>Title: <%= @game.title %></h1>
<h2>Created by: <%= @game.user_id %></h2>

<h3>Players</h3>
<% @game_assignments.each do |assignment| %>
	<%= User.find(assignment.user_id).name %>
<% end %>



<h3>Make your Ratings</h3>

<% @game_assignments.each do |assignment| %>
	<% all_ratings = User.find(assignment.user_id).ratings %>

	<div id="guess">
		<% all_ratings.each do |rating| %>

			<% unless rating.user_id == @user_id %>
				<p>What do you think <b><%= User.find(rating.user_id).name %></b>, thinks about <b><%= Concept.find(rating.concept_id).title %></b></p>

					<%= form_tag(:action => "make_guess") do %>
					<%= hidden_field_tag :user_id, @user_id %>
					<%= hidden_field_tag :concept_id, rating.concept_id %>
					<%= submit_tag("They liked") %>
					<% end %><br>

					<%= form_tag(:action => "make_guess") do %>
					<%= hidden_field_tag :user_id, @user_id %>
					<%= hidden_field_tag :concept_id, rating.concept_id %>
					<%= submit_tag("Disliked") %>
					<% end %><br>

					<%= form_tag(:action => "make_guess") do %>
					<%= hidden_field_tag :user_id, @user_id %>
					<%= hidden_field_tag :concept_id, rating.concept_id %>
					<%= submit_tag("Neutral") %>
					<% end %><br>
			<% end %>

		<% end %>
	</div><!--guess-->

<% end %>
