
	<!-- messages to user at different milestones -->

	<% if @user_ratings_count == 5 %>
		<div class="alert alert-success">
  			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 	<strong>Good job!</strong> Keep rating things!
		</div>
	<% end %>

	<% if @user_ratings_count == 10 %>
		<div class="alert alert-success">
  			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 	<strong>Keep going!</strong> Rate 10 more items below.
		</div>	
	<% end %>

	<% if @user_ratings_count == 20 && @user_guessed == false %>


		<div class="row">
		<div class="col-md-12 text-center">

		<h2>Great job!</h2>

		<h4>Now see how well you know your friends...</h4>

		 <h3><%= link_to("Go Guess",  {:controller => "games", :action => "mygames"}) %> <span class="glyphicon glyphicon-menu-right"></span></h3>

		</div>
		</div>



	<% else %>


<div class="row text-center">


<div class="col-md-12">
		<% if @concepts.count > 0 %>
			<% @concepts.each do |concept| %>
					<h4><%= concept.title %> </h4><br><br>
					<% if concept.image %>
					<img src="<%=concept.image%>" class="img-responsive" style="max-height:200px;"/>
					<% end %>



			<%= form_tag(:action => "make_rating") do %>

			
				
						<%= hidden_field_tag :user_id, @user.id %>
						<%= hidden_field_tag :concept_id, concept.id %>
						<%= text_area_tag(:explanation, "", :size => "44x3") %>
		
				<br/><br/>

     <%= submit_tag("Like", class: "btn-success") %>

      <%= submit_tag("Dislike", class: "btn-warning") %>

			

	

			<br><br><br><br>
	
					

			<% end %>



				


			
			<% end %>
			</div>
</div>


		<% else %>
			<p> You already rated everything..waiting for more stuff to rate</p>
		<% end %>

	<% end %>





