<!DOCTYPE html>
<html>
<head>
  <title>Head2head2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="toparea">

	<div id="flash_messages">
	  <% flash.each do |key, value| %>
	    <%= content_tag(:div, value, :class => "flash #{key}") %>
	  <% end %>
	</div>


	<ul>
		<li> <h4>Menu Options</h4> </li>
		<li><%= link_to("Create new user", new_user_path) %></li>
		<li> <%= link_to("Login",  {:controller => "access", :action => "login"}) %> </li>
		<li> <%= link_to("Logout",  {:controller => "access", :action => "logout"}) %></li>
			<li> <%= link_to("View Users",  {:controller => "users", :action => "index"}) %> </li>

	</ul>

	<% if session[:username] %>
		<%= session[:username] %>
	<%end%>

</div><!--toparea-->


<%= yield %>

</body>
</html>
