<!DOCTYPE html>
<html>
<head>
  <title>Head2head2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="toparea">

	<div id="flash_messages">
	  <% flash.each do |key, value| %>
	    <%= content_tag(:div, value, :class => "flash #{key}") %>
	  <% end %>
	</div>




	<% if session[:user_id] %>
		<%= session[:user_id] %>
	<%end%>

	<% if session[:username] %>
	<ul>
		<li> Welcome, <%= session[:username] %> </li>

				
		<li> <h4>Menu Options</h4> </li>

		<li> <%= link_to("Logout",  {:controller => "access", :action => "logout"}) %></li>
		<li> <%= link_to("View Users",  {:controller => "users", :action => "index"}) %> </li>
		<li></li>
		<li> <%= link_to("Create New Game",  {:controller => "games", :action => "new"}) %> </li>	
		<li> <%= link_to("View ALL Games",  {:controller => "games", :action => "index"}) %> </li>	
		<li> <%= link_to("View MY Games",  {:controller => "games", :action => "mygames"}) %> </li>	
		<li> -- </li>

		<li> <%= link_to("Rate Things",  {:controller => "concepts", :action => "showconcepts"}) %> </li>	
				
			
				

		</ul>

	<% else %>
		<ul>
		<li> <h4>Menu Options</h4> </li>
		<li><%= link_to("Sign Up!", new_user_path) %></li>
		<li> <%= link_to("Login",  {:controller => "access", :action => "login"}) %> </li>


		</ul>
	<%end%>

</div><!--toparea-->


<%= yield %>

</body>
</html>
